@import '../../assets/mixins/mixins.scss';

.instagram {
  background-color: #8C96B9;
  height: 250px;
  width: 100% ;
  display: flex;

  &__container {
    margin: auto 13px auto auto;
    width: 220px;
    height: 160px;
    background-color: #FFF;
    text-align: left;
    padding: 4px 12px 14PX;

    &__handler {
      font-size: 19px;
      margin-top: 10px;
      display: inline-block;
    }

    &__title {
      font-weight: 600;
      font-size: 20px;
      margin-top: 8px;
      margin-bottom: 8px;
      line-height: 16px;
    }

    &__sub-title {
      font-size: 13px;
      margin-bottom: 10px;
      font-weight: 400;
    }

    &__CTA-container {
      height: 25px;
      width: 148px;
    }

  }
}

@include tablet-p {
  .instagram {
    height: 213px;

    &__container {
      margin-right: 28px;
      width: 192px;
      height: 148px;
      padding:  14px 17px;

      &__handler {
        font-size: 12px;
        margin-bottom: 10px;
      }

      &__title {
       font-size: 16px;
       margin-bottom: 7px;
       line-height: 21px;
      }

      &__sub-title {
        font-size: 10px;
        margin-bottom: 10px;
      }

      &__CTA-container {
        height: 19px;
        width: 110px;
      }
    }
  }
}

@include desktop {
  .instagram {
    height: 358px;

    &__container {
      margin-right: 47px;
      width: 320px;
      height: 247px;
      padding:  14px 40px;

      &__handler {
        font-size: 20px;
        margin-bottom: 21px;
      }

      &__title {
       font-size: 24px;
       margin-bottom: 24px;
       line-height: 32px;
      }

      &__sub-title {
        font-size: 16px;
        margin-bottom: 15px;
        font-weight: 400;
      }
    }
  }
}