 @import '../../assets/mixins/mixins.scss';
 
 .item-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  padding: 0 20px 0 15px;

  &__title {
    font-size: 26px;
    font-weight: bold;
  }

  &__price {
    font-weight: 400;
    font-size: 21px;
  }

  &__size-title {
    font-size: 14px;
    font-weight: 400;
  }

  &__sizes {
    display: inline-flex;

    &__size-selector {
      width: 51px;
      height: 36px;
      font-size: 16px;
      font-weight: 400;
      justify-content: center;
      text-align: center;
      display: inline-flex;
      align-items: center;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin-bottom: 15px;

      &:hover {
        cursor: pointer;
      }

      &:not(:first-child) {
        margin-left: 5px;
      }

      &.active {
        border: solid black 1px;
      }
    }
  }

  &__color-title {
    font-size: 14px;
    font-weight: 400;
  }

  &__colors {
    display: inline-flex;
    margin-bottom: 15px;

    &__color-selector {
      width: 26px;
      height: 26px;
      border-radius: 50%;

      &.active {
        border: solid 1px black;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__CTA-container {
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
  }

  &__accordion {
    margin-bottom: 15px;

    &__item {


      &__heading {


        &__button {
          width: 100%;
          height: 45px;
          display: inline-flex;
          align-items: center;
          padding-left: 5px;
          border-bottom: solid 1px #000;

          &:hover {
            cursor: pointer;
          }
        }
      }
      
      &__pannel {
        padding: 15px;
      }
    }
  }
  
}

.active {
  outline: none;
  border: none;
}

@include tablet-p {
  .item-description {
    padding-left: 0;
  }
}