.suggestions {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    margin: 0px auto 15px;
  }

  &__swiper{
    padding: 0 15px;
    margin-bottom: 15px;
    height: 250px;
    width: 100%;
  }
}