@import '../../assets/mixins/mixins.scss';

.hero {
  width: 100%;
  height: 333px;
  display: flex;
  background-size: cover;
  background-position: center;

  &__container {
    display: inline-flex;
    flex-direction: column;
    margin: auto 14px 23px auto;
    text-align: right;

    &__title {
      // white-space: nowrap;
      color: #FFF;
      font-size: 21px;
      font-weight: 600;
    }

    &__sub-title {
      color: #FFF;
      font-size: 12px;
      font-weight: 400;
    }
  }
}

@include desktop {
  .hero {
    height: 682px;

    &__container {
      margin: auto 45px 64px auto;
      
      &__title {
        font-size: 77px;
        margin-bottom: 65px;
      }

      &__sub-title {
        font-size: 22px;
      }
    }
  }
}