@import '../../assets/mixins/mixins.scss';

.subscriber {
  background-color: #E4E4E4;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 140px;

  &__container {
    margin: auto;
    text-align: center;
    
    &__title {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    &__sub-title {
      font-size: 9px;
      font-weight: 600;
      margin-bottom: 9px;
    }

    &__email-subscriber {
        height: 17px;
        width: fit-content;
        margin: 0 auto;
        display: flex;

      &__input {
        height: 100%;
        font-size: 6px;
        padding-left: 6px;
        background-color: #FFF;
        user-select: none;
        border-radius: 0px;
        border: none;
        outline: none;
        
        &:placeholder-shown {
          color: #757575;
        }
      }

      &__CTA-container .CTA {
        height: 100%;
        vertical-align: top;
      }
    }
  }
}

@include tablet-p {
  .subscriber {
    height: 204px;

    &__container {
      &__title {
        font-size: 30px;
        margin-bottom: 14px;
      }

      &__sub-title {
        font-size: 12px;
        margin-bottom: 14px;
      }

      &__email-subscriber {
          height: 24px;
        &__input {
          font-size: 9px;

          &:placeholder-shown {
            font-size: 9px;
          }
        }
      }
    }
  }
}

@include desktop {
  .subscriber {
    height: 340px;

    &__container {
      &__title {
        font-size: 30px;
        margin-bottom: 40px;
      }

      &__sub-title {
        font-size: 22px;
        margin-bottom: 45px;
      }

      &__email-subscriber {
          height: 40px;
        &__input {
          font-size: 20px;

          &:placeholder-shown {
            font-size: 18px;
          }
        }
      }
    }
  }
}