.item-card {
  width: 100%;
  height: 350px;

  &__img {
    width: 100%;
    background-position: center;
    height: 90%;
    background-size: cover;
  }

  &__info {
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }
}