.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 5;
    background-color: #FFF;

    &__menu {
      z-index: 5;
      display: flex;
      flex-flow: column;
      background: none;
      border: none;
      margin-top: 5px;
      margin-left: 10px;
      width: 50px;
      height: 30px;
      cursor: pointer;
      justify-content: space-around;
      outline: none;
      user-select: none;

      &__bar {
        width: 30px;
        height: 0px;
        border: solid #000 1px;
        background-color: black;

        &--center {
          width: 25px;
          border: solid #000 1px;
          background-color: black;
          height: 0px;
        }
      }
    }

     &__logo {
         height: 40px;
         margin: 2.5px 0 0;
         width: 126px;
     }

     &__cart {
      height: fit-content;
      width: 30px;
      margin: auto 6.9px auto -6.9px;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      &__count {
        color: #000;
        position: absolute;
        top: 4.5px;
        left: 9px;
        font-size: 10px;
      }
     }
}