@import '../../assets/mixins/mixins.scss';

.footer {
  display: flex;
  padding: 18px 20px;
  justify-content: space-between;

  &__social-media {
    display: inline-flex;
    flex-direction: column;
    margin: auto 0;

    &__logo {
      width: 144px;
      height: 40px;
      margin-bottom: 7px;
    }

    &__icons-container {
      display: inline-flex;
      margin: 0 auto;

      &__icon {
        width: 12px;
        height: 12px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
        margin: 0 2.5px;
      }
    }
  }

  &__links-column {
    display: none;
    flex-direction: column;
    text-align: left;

    &__title {
      font-size: 9px;
      font-weight: normal;
    }

    &__link {
      font-size: 6px;
    }
  }

  &__accordion {
    margin-left: 10px;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

    &__item {
      margin-bottom: 20px;
      text-align: right;
      width: 80%;

      &__heading {

        &__button {
          font-size: 30px;
          border-radius: 0px;
          box-shadow: 0px 10px 5px -5px rgba($color: #6b6b6b, $alpha: 1.0);
          border-bottom: 2px solid black;
          margin-bottom: 10px;

          &:hover {
            cursor: pointer;
          }
        }
      }

      &__pannel {

        & p {
          font-size: 20px;
          margin-top: 5px;
          margin-left: 5px;
        }
      }
    }
  }
}

@include tablet-p {
  .footer {
    height: 215px;
    padding-right: 74px;

    &__social-media {
      margin: auto 0;
      margin-left: 55px;
      &__logo {
        width: 140px;
        height: auto;
      }

      &__icons-container {
        &__icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    &__links-column {
      margin: auto 0;
      &__title {
        font-size: 12px;
      }

      &__link {
        font-size: 9px;
      }
    }
  }
}

@include desktop {
  .footer {
    height: 317px;
    padding-right: 188px;

    &__social-media {
      margin: auto 0;
      margin-left: 81px;
      &__logo {
        width: 195px;
        height: auto;
      }

      &__icons-container {
        &__icon {
          width: 35px;
          height: 35px;
        }
      }
    }

    &__links-column {
      margin: auto 0;
      display: inline-flex;

      &__title {
        font-size: 20px;
      }

      &__link {
        font-size: 15px;
      }
    }

    &__accordion {
      display: none;
    }
  }
}